nav {
  box-sizing: border-box;
  background-color: #4056A1;
  color: #FFFF;
  height: 120px;
  padding: 1.5em;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 4;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  font-family:"Bungee";
  font-size: 40px;
}

#tweet {
  font-size: 20px;
}

i[class='fas fa-chevron-down'] {
  color: orange;
  margin:0.4em;
  font-size: 30px;
}

#headernewtweet {
  display: flex;
  flex-direction: column;
  align-items: center;
}


i[class='fas fa-chevron-down'] {
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
}
i[class='fas fa-chevron-down'] {
  -webkit-animation: mover 1s infinite  alternate;
  animation: mover 1s infinite  alternate;
}
@-webkit-keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}
@keyframes mover {
  0% { transform: translateY(0); }
  100% { transform: translateY(-10px); }
}


