nav {
  box-sizing: border-box;
  background-color: #4056A1;
  color: #FFFF;
  height: 120px;
  padding: 1.5em;
  position: fixed;
  width: 100%;
  top: 0;
  left: 0;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  font-family:"Bungee";
  font-size: 40px;
}

#tweet {
  font-size: 20px;
}

i[class='fas fa-chevron-down'] {
  color: orange;
}

#headernewtweet {
  display: flex;
  flex-direction: column;
  align-items: center;
}